@{
    ViewData["Title"] = "O nas";
}
<h1 class="mt-4 mb-4">@ViewData["Title"]</h1>

<div>
    <p class="m-0">Niniejsza aplikacja została wykonana przez studentów Wyższej Szkoły Ekonomii i Informatyki w Krakowie - </p>
    <p class="m-0">Kamila Szydłowskiego, Krzysztofa Wcisło i Adama Żura. </p>
    <p class="m-0">Publikowanie, kopiowanie, prezentowanie aplikacji i wykorzystywanie jej kodu źródłowego jest zabronione bez zgody autorów.</p>
</div>