@using DotNetWMS.Resources
@inject SignInManager<WMSIdentityUser> signInManager;


@if (signInManager.IsSignedIn(User))
{
    ViewData["Title"] = "Dashboard";
    <h2>Dashboard</h2>
    <hr />
    @if ((bool)ViewData["isAnyNewMessages"])
    {
        <div class="row mt-3">
            <div class="col-12">
                <div class="alert alert-primary alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="alert-heading">Masz nowe wiadomości!</h4>
                    <p>W Twojej skrzynce znajdują się nowe wiadomości. Aby je przejrzeć kliknij w poniższy link.</p>
                    <hr>
                    <p class="mb-0">
                        <a asp-controller="Infoboxes" asp-action="Index" class="btn btn-primary my-auto">Dziennik</a>
                    </p>
                </div>
            </div>
        </div>
    }

<div class="row">
    <div class="col-md-3 col-sm-6 mb-md-0 mb-3">
        <div class="card shadow text-center h-100">
            <div class="card-body">
                <i class="fas fa-flag fa-4x"></i>
                <hr />
                <h5 class="card-title font-weight-bold">@ViewData["OutOfWarranty"]</h5>
                <p class="card-text">Przedmioty po gwarancji</p>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 mb-md-0 mb-3">
        <div class="card shadow text-center h-100">
            <div class="card-body">
                <i class="fas fa-handshake fa-4x"></i>
                <hr />
                <h5 class="card-title font-weight-bold">@ViewData["ExternalsCount"]</h5>
                <p class="card-text">Klienci zewnętrzni</p>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 mb-md-0 mb-3">
        <div class="card shadow text-center h-100">
            <div class="card-body">
                <i class="fas fa-users fa-4x"></i>
                <hr />
                <h5 class="card-title font-weight-bold">@ViewData["RegisteredUsers"]</h5>
                <p class="card-text">Pracownicy</p>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 mb-md-0 mb-3">
        <div class="card shadow text-center h-100">
            <div class="card-body">
                <i class="fas fa-warehouse fa-4x"></i>
                <hr />
                <h5 class="card-title font-weight-bold">@ViewData["WarehousesCount"]</h5>
                <p class="card-text">Ilość magazynów</p>
            </div>
        </div>
    </div>
</div>

}
else
{
    ViewData["Title"] = "Home";
    <div class="jumbotron shadow text-center m-auto w-100">
        <img src="~/images/logo.png" class="mw-100 mh-100" alt="">
        <h1>Witaj w .NetFortune!</h1>
        <p>Kliknij <b>start</b> i rozpocznij pracę</p>
        <hr class="my-4">
        <a asp-controller="Account" asp-action="Login" class="btn btn-primary btn-lg" role="button">Start</a>
    </div>
}

