@using DotNetWMS.Resources
@inject SignInManager<WMSIdentityUser> signInManager;
@{
    ViewData["Title"] = "Home Page";
}

    @if (signInManager.IsSignedIn(User))
    {

    <div class="row">
        @if (User.IsInAnyRoles("Kadry,Moderator"))
        {
        <div class="col-md-6 col-category">

            <div class="card bg-light mb-3">
                <div class="card-header text-center"><h2>Pracownicy</h2></div>
                <div class="category-body">
                    <a asp-controller="Employees" asp-action="Index" type="button" class="rounded">
                    <div class="card-body">
                        <h6 class="card-title">Przegląd pracowników</h6>
                         <i class="far fa-id-card fa-4x"></i>
                    </div>
                    </a>
                    <a asp-controller="Departments" asp-action="Index" type="button" class="rounded"><div class="card-body">
                        <h6 class="card-title">Przegląd stanowisk</h6>
                        <i class="fas fa-briefcase fa-4x"></i>
                    </div></a>
                    </div>
                </div>

            </div>
        }

    <div class="col-md-6 col-category">

        <div class="card bg-light mb-3">
            <div class="card-header text-center"><h2>Majątek</h2></div>
            <div class="category-body">
                <a asp-controller="Items" asp-action="Index" type="button" class="rounded">
                    <div class="card-body">
                        <h6 class="card-title">Przegląd majątku</h6>

                        <i class="fas fa-coins fa-4x"></i>
                    </div>
                </a>
                @if (User.IsInAnyRoles("Standard,StandardPlus,Moderator"))
                {
                    <a asp-controller="Items" asp-action="Assign_to_employee" type="button" class="rounded">
                        <div class="card-body">
                            <h6 class="card-title">Przekaż na stan</h6>
                            <i class="fas fa-hand-holding-usd fa-4x"></i>
                        </div>
                    </a>
                    <a asp-controller="Items" asp-action="Assign_to_warehouse" type="button" class="rounded">
                        <div class="card-body">
                            <h6 class="card-title">Przekaż do magazynu</h6>
                            <i class="fas fa-pallet fa-4x"></i>
                        </div>
                    </a>
                }
                @if (User.IsInAnyRoles("StandardPlus,Moderator"))
                {
                    <a asp-controller="Items" asp-action="Assign_to_external" type="button" class="rounded">
                        <div class="card-body">
                            <h6 class="card-title">Przekaż na zewnątrz</h6>
                            <i class="fas fa-truck-loading fa-4x"></i>
                        </div>
                    </a>
                }
            </div>
        </div>

    </div>

    <div class="col-md-6 col-category">

        <div class="card bg-light mb-3">
            <div class="card-header text-center"><h2>Magazyny</h2></div>
            <div class="category-body">
                <a asp-controller="Warehouses" asp-action="Index" type="button" class="rounded">
                    <div class="card-body">
                        <h6 class="card-title">Przegląd magazynów</h6>
                        <i class="fas fa-boxes fa-4x"></i>
                    </div>
                </a>
                @if (User.IsInAnyRoles("StandardPlus,Moderator"))
                {
                    <a asp-controller="Warehouses" asp-action="Stocktaking" type="button" class="rounded">
                        <div class="card-body">
                            <h6 class="card-title">Inwentaryzacja</h6>
                            <i class="fas fa-calculator fa-4x"></i>
                        </div>
                    </a>
                }
            </div>
            </div>


        </div>
        @if (User.IsInAnyRoles("Standard,StandardPlus,Moderator"))
        {
            <div class="col-md-6 col-category">

                <div class="card bg-light mb-3">
                    <div class="card-header text-center"><h2>Klienci zewnętrzni</h2></div>
                    <div class="category-body">
                        <a asp-controller="Externals" asp-action="Index" type="button">
                            <div class="card-body">
                                <h6 class="card-title">Przegląd kl. zewn.</h6>
                                <i class="fas fa-glasses fa-4x"></i>
                            </div>
                        </a>
                        <a asp-controller="Externals" asp-action="StatusView" type="button">
                            <div class="card-body">
                                <h6 class="card-title">Podgląd stanu</h6>
                                <i class="fas fa-search-dollar fa-4x"></i>
                            </div>
                        </a>
                    </div>
                </div>

            </div>
		}
        </div>
        
    }
    else
    {
        <div class="jumbotron shadow text-center m-auto w-100">
            <img src="~/images/PepeLogo.png" class="mw-100 mh-100" alt="">
            <h1 class="display-4 mt-4">Witaj w .NetFortune!</h1>
            <p class="lead">Kliknij <b>start</b> i rozpocznij pracę z .NetFortune</p>
            <hr class="my-4">
            <a asp-controller="Account" asp-action="Login" class="btn btn-success btn-lg" role="button">Start</a>
        </div>
    }

