@using DotNetWMS.Resources
@inject SignInManager<WMSIdentityUser> signInManager;


@if (signInManager.IsSignedIn(User))
{
    ViewData["Title"] = "Dashboard";
    <h2>Dashboard</h2>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <div class="card rounded-0 text-center">
                <div class="card-body">
                    <i class="fas fa-flag fa-4x mb-3"></i>

                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card rounded-0 text-center">
                <div class="card-body">
                    <i class="fas fa-flag fa-4x mb-3"></i>

                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card rounded-0 text-center">
                <div class="card-body">
                    <i class="fas fa-flag fa-4x mb-3"></i>

                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
    @if ((bool)ViewData["isAnyNewMessages"])
    {
        <div class="row mt-3">
            <div class="col-12">
                <div class="alert alert-primary alert-dismissible fade show rounded-0" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="alert-heading">Masz nowe wiadomości!</h4>
                    <p>W Twojej skrzynce znajdują się nowe wiadomości. Aby je przejrzeć kliknij w poniższy link.</p>
                    <hr>
                    <p class="mb-0">
                        <a asp-controller="Infoboxes" asp-action="Index" class="btn btn-outline-info my-auto">Dziennik</a>
                    </p>
                </div>
            </div>
        </div>
    }
    

}
else
{
    ViewData["Title"] = "Home";
    <div class="jumbotron shadow text-center m-auto w-100">
        <img src="~/images/PepeLogo.png" class="mw-100 mh-100" alt="">
        <h1 class="display-4 mt-4">Witaj w .NetFortune!</h1>
        <p class="lead">Kliknij <b>start</b> i rozpocznij pracę z .NetFortune</p>
        <hr class="my-4">
        <a asp-controller="Account" asp-action="Login" class="btn btn-success btn-lg" role="button">Start</a>
    </div>
}

