@model DotNetWMS.Models.Location

@{
    ViewData["Title"] = "Edit";
}

<div>
    <div class="d-flex justify-content-between">
        <h2 class="my-0 w-100 text-sm-left text-center">Edycja lokalizacji</h2>
    </div>
</div>
<hr />

<div class="mb-3">
    <a asp-action="Index" class="btn btn-outline-dark btn-sm"><i class="fas fa-arrow-left mr-1"></i>Wróć do podglądu</a>
    <div asp-validation-summary="ModelOnly" class="text-danger mt-3"></div>

    <form asp-action="Edit" class="mt-3">
        <input type="hidden" asp-for="Id" />

        <div class="form-group">
            <label for="address">Adres</label>
            <input asp-for="Address" id="address" type="search" autocomplete="nope" placeholder="Podaj adres" class="form-control" />
            <small class="form-text text-muted">Aby poprawnie zlokalizować położenie proszę podać <b>ulicę</b>, <b>numer budynku</b>, <b>miasto</b> oraz <b>kod pocztowy</b> magazynu</small>

            <input asp-for="Latitude" type="hidden" id="lat" />
            <input asp-for="Longitude" type="hidden" id="lng" />
        </div>
        <div class="form-row">
            <div class="form-group col-12">
                <div id="map" style="height:300px; width:100%"></div>
            </div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-success btn-sm"><i class="fas fa-save mr-1"></i>Zapisz</button>
        </div>
    </form>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @{await Html.RenderPartialAsync("_GoogleMapsPartial");}
}