@using DotNetWMS.Resources
@model DotNetWMS.Models.StocktakingViewModel;

@{
    ViewData["Title"] = "Stocktaking";
}

<div class="d-inline-flex">
    <h1 class="index-title d-print-none"><a asp-controller="Home" asp-action="Index" class="btn btn-danger"><i class="fas fa-arrow-left"></i></a></h1>
    <h1>Inwentaryzacja</h1>
</div>


<div class="row">
    <div class="col-md-4">
        <form id="form" method="post">
            <div class="form-group">
                <label asp-for="WarehouseFullName" class="control-label d-print-none"></label>
                <select asp-for="WarehouseFullName" id="selectList" class="form-control" asp-items="ViewBag.WarehouseList"></select>
                <span asp-validation-for="WarehouseFullName" class="text-danger"></span>
            </div>
        </form>
    </div>
</div>

<button id="choose" class="btn btn-success d-print-none">Inwentaryzuj</button>
<a class="btn btn-outline-primary d-print-none" onclick="printPartialDiv('divPartial')"><i class="fas fa-print"></i></a>

<div id="divPartial" class="mt-3">
    
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        var url = '@Url.Action("StocktakingIndex", "Warehouses")';
            $('#choose').click(function() {
            var keyWord = $('#selectList').val();
            $('#divPartial').load(url, { warehouseFullName: keyWord });
            })

        function printPartialDiv(el) {
            var restorepage = document.body.innerHTML;
            var printcontent = document.getElementById(el).innerHTML;
            document.body.innerHTML = "<h4>Inwentaryzacja<h4>"
            document.body.innerHTML += printcontent;
            window.print();
            document.body.innerHTML = restorepage;
        }
    </script>
}
