@using DotNetWMS.Resources
@model DotNetWMS.Models.StocktakingViewModel;

@{
    ViewData["Title"] = "Stocktaking";
}

<div>
    <div class="d-flex justify-content-between">
        <h2 class="my-0">Inwentaryzacja</h2>
    </div>
</div>
<hr />

<div class="row">
        <div class="form-group col-md-6">
            <label asp-for="WarehouseFullName" class="control-label d-print-none"></label>
            <div class="input-group">
                <select asp-for="WarehouseFullName" id="selectList" class="form-control" asp-items="ViewBag.WarehouseList"></select>
                <div class="input-group-append">
                    <button class="btn btn-outline-success" id="stocktaking" type="button">Inwentaryzuj</button>
                </div>
            </div>
            <span asp-validation-for="WarehouseFullName" class="text-danger"></span>
        </div>
</div>

<a class="btn btn-outline-primary" href="javascript:window.print()"><i class="fas fa-print"></i></a>

<div id="divPartial" class="mt-3">

</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}