@model DotNetWMS.Models.Warehouse

@{
    ViewData["Title"] = "Stocktaking";
}

<div class="card border-dark mb-3">
    <div class="card-header"><h4>Inwentaryzacja magazynu</h4></div>
    <div class="card-body text-dark">


        <form asp-action="Stocktaking" method="get">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="control-label"></label>
                    <select class="form-control" name="filter" asp-items="ViewBag.WarehouseId"></select>
                </div>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-success">Inwentaryzuj <i class="fas fa-sticky-note"></i></button>
            </div>
        </form>

    </div>
</div>


<a asp-action="Index" class="btn btn-outline-dark"><i class="fas fa-arrow-left"></i>Wróć do podglądu</a>


