@using DotNetWMS.Resources
@model DotNetWMS.Models.StatusViewViewModel;

@{
    ViewData["Title"] = "StatusView";
}

<h1 class="index-title"><a asp-controller="Home" asp-action="Index" class="btn btn-danger"><i class="fas fa-arrow-left"></i></a>Podgląd stanu</h1>

<div class="form-row">
    <div class="form-group col-md-6">
        <div class="input-group mb-3">
            <input id="search" type="text" class="form-control search-control" value="@ViewData["Search"]" placeholder="Wyszukaj..." aria-label="Wyszukaj" aria-describedby="button-addon2">
            <div class="input-group-append">
                <button class="btn btn-outline-success" id="button-addon2"><i class="fab fa-sistrix mr-1"></i>Szukaj</button>
            </div>
        </div>
    </div>
</div>

<form id="form" method="post">
    <div class="form-row">
        <div class="form-group col-md-3">
            <input type="hidden" asp-for="UserId" />
            <label asp-for="UserFullName" class="control-label"></label>
            <select asp-for="UserFullName" id="selectList1" class="form-control" asp-items="ViewBag.UserList">
                <option value="">Brak</option>
                <option value="All" selected>Dowolny</option>
            </select>
            <span asp-validation-for="UserFullName" class="text-danger"></span>
        </div>
        <div class="form-group col-md-3">
            <input type="hidden" asp-for="WarehouseId" />
            <label asp-for="WarehouseFullName" class="control-label"></label>
            <select asp-for="WarehouseFullName" id="selectList2" class="form-control" asp-items="ViewBag.WarehouseList">
                <option value="">Brak</option>
                <option value=0 selected>Dowolny</option>
            </select>
            <span asp-validation-for="WarehouseFullName" class="text-danger"></span>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="State" class="control-label"></label>
            <select asp-for="State" id="selectList3" class="form-control" asp-items="Html.GetEnumSelectList<ItemState>()"></select>
            <span asp-validation-for="State" class="text-danger"></span>
        </div>

    </div>
</form>

<button id="choose" class="btn btn-outline-info">Generuj</button>

@*<div class="row">
        <div class="col-md-4">
            <form id="form" method="post">
                <div class="form-group">
                    <label asp-for="State" class="control-label"></label>
                    <select asp-for="State" id="selectList" class="form-control" asp-items="Html.GetEnumSelectList<ItemState>()"></select>
                    <span asp-validation-for="State" class="text-danger"></span>
                </div>
            </form>
        </div>
    </div>

    <button id="choose" class="btn btn-success">Wybierz</button>*@


<div id="divPartial" class="mt-3">

</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        var url = '@Url.Action("StatusView", "Externals")';
            $('#choose').click(function() {
                var usr = $('#selectList1').val();
                var wrh = $('#selectList2').val();
                var state = $('#selectList3').val();
                $('#divPartial').load(url, { u: usr, w: wrh, state: state  });
            })
            $('#button-addon2').click(function () {
                var usr = $('#selectList1').val();
                var wrh = $('#selectList2').val();
                var state = $('#selectList3').val();
                var search = $('#search').val();
                $('#divPartial').load(url, { u: usr, w: wrh, state: state, search: search });
            })
    </script>
}
