
<input type="hidden" id="adress" data-value="@TempData["Adress"]" />
<h2>Lokalizacja magazynu</h2>

<h6>@TempData["Adress"]</h6>

<div id="googleMap" style="height:300px;width:500px;"></div>

<script src="~/js/GoogleMapsGenerator.js"></script>
@*js?key=[apikey]&callback*@
<script src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap"></script>
