
@{
    ViewData["Title"] = "404";
}

<h1>Nie odnaleziono strony</h1>

<h5>@ViewBag.ErrorMessage</h5>

<h5>@ViewBag.Path</h5>

<h5>@ViewBag.QS</h5>

<a class="btn btn-outline-primary" asp-action="index" asp-controller="home">Wróć do strony głównej</a>

