* {
	outline: none !important;
}

/* ----- Main tags ----- */
body {
	font-family: $font-primary;
}

header {
	height: 60px;
}

footer {
	height: 45px;
}

.content-body {
	margin-bottom: 45px;
}

#cookieConsent {
	position: absolute;
	bottom: 0;
	left: 15px;
	right: 15px;
}

/* ----- Main ----- */

.top-0 {
	top: 0;
}

.c-pointer {
	cursor: pointer;
}

.w-fit {
	width: fit-content;
}

.dropdown-menu {
	&.show {
		z-index: 1040;
	}
}

.dropdown-item {

	&.danger {
		background-color: $red-100;

		&:hover {
			background-color: $red-200;
		}

		&:focus {
			color: $white !important;
			background-color: $red;
		}
	}
}

.sidebar {
	@include pos-fixed(0,0,0);
	z-index: 100;
	margin-top: 60px;
	padding: 0;
	box-shadow: inset 0 0 1rem rgba(0, 0, 0, .1);

	&::-webkit-scrollbar {
		width: 0px;
		background: transparent;
	}

	&::-webkit-scrollbar-thumb {
		background: #FF0000;
	}

	.list-group-item {
		background-color: transparent !important;
		display: flex;
		align-items: center;

		&.active {
			background-color: $silver !important;
			border-color: rgba($dark, 0.125) !important;
			color: $primary !important;
			font-weight: bold;
		}

		&:hover {
			background-color: #ececec !important;
		}
	}

	.title {
		padding-left: 1.25rem;
		padding-right: 1.25rem;
	}
}

.shadow-inset {
	box-shadow: inset 0 0 1rem rgba($dark, 0.1);
}


/* FORM */

.form-control {

	&:focus {
		border-color: $input;
		box-shadow: 0 0 0 0.2rem #dee2e6;
	}
}
label {
	@include label($weight: bold, $size: 80%, $margin-bottom: 0)
}

.bootstrap-select {
	.btn-form {

		&:focus, &:active {
			border-color: $input !important;
			box-shadow: 0 0 0 0.2rem #dee2e6 !important;
		}
	}

	&.disabled, & > .disabled {
		background-color: #e9ecef !important;
		opacity: 1;
	}
}

.bootstrap-select .dropdown-toggle:focus {
	outline: none !important;
}

.show > .btn-form.dropdown-toggle {
	background-color: $white !important;
	border-color: $input !important;
	box-shadow: 0 0 0 0.2rem #dee2e6 !important;
}

header {
	.dropdown {
		.btn {
			color: rgba(255, 255, 255, 0.5);

			&:hover, &:focus {
				color: rgba(255, 255, 255, 0.75);
			}

			&:focus {
				box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.15);
			}
		}
	}
}

.validation-summary-errors {
	ul {
		list-style: none;
		padding: 0;

		li:before {
			font-family: "Font Awesome 5 Free";
			font-weight: 900;
			content: '\f06a';
			padding-right: 10px;
		}
	}
}


//Google autocomplete
.pac-container {
	@include rounded(0.25);
	font-family: $font-primary;

	.pac-item {
		padding: 5px 10px;
		cursor: pointer;
		font-size: 13px;

		.pac-item-query {
			font-size: 15px;
		}
	}
}
.pac-logo {
	&:after {
		height: 40px;
		background-size: auto 18px;
		background-position: center;
	}
}
.pac-matched {
	color: $blue-700;
}

.custom-control-label::after, .custom-control-label::before {

	top: 0.15rem;
}