* {
	outline: none !important;
}

/* ----- Main tags ----- */
body {
	font-family: 'Nunito', sans-serif;
}

header {
	height: 60px;
}

footer {
	height: 45px;
}

.content-body {
	margin-bottom: 45px;
}

.custom-control-input {

	&:checked ~ .custom-control-label::before {
		background-color: #28a745;
		border-color: #28a745;
	}

	&:focus {
		:not(:checked) ~ .custom-control-label::before {
			border-color: #28a745;
		}

		~ .custom-control-label::before {
			box-shadow: 0 0 0 0.2rem rgba(72,180,97,.5);
		}
	}
}

#cookieConsent {
	position: absolute;
	bottom: 0;
	left: 15px;
	right: 15px;
}
/* ----- Main ----- */
.top-0 {
	top: 0;
}

.c-pointer {
	cursor: pointer;
}

.w-fit {
	width: fit-content;
}

.dropdown-menu {
	&.show {
		z-index: 1040;
	}
}

.dropdown-item {

	&.danger {
		background-color: $red-100;

		&:hover {
			background-color: $red-200;
		}

		&:focus {
			color: $white !important;
			background-color: $red;
		}
	}
}

.sidebar {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	z-index: 100;
	margin-top: 60px;
	padding: 0;
	box-shadow: inset 0 0 1rem rgba(0, 0, 0, .1);

	&::-webkit-scrollbar {
		width: 0px;
		background: transparent;
	}
	/* Optional: show position indicator in red */
	&::-webkit-scrollbar-thumb {
		background: #FF0000;
	}

	.list-group-item {
		background-color: transparent !important;
		display: flex;
		align-items: center;

		&.active {
			background-color: #e2e2e2 !important;
			border-color: rgba(0,0,0,.125) !important;
			color: #007bff !important;
			font-weight: bold;
		}

		&:hover {
			background-color: #ececec !important;
		}
	}

	.title {
		padding-left: 1.25rem;
		padding-right: 1.25rem;
	}
}

.shadow-inset {
	box-shadow: inset 0 0 1rem rgba(0, 0, 0, .1);
}


/* FORM */

.form-control {
	background-color: #fafafa;

	&:focus {
		border-color: #adb5bd;
		box-shadow: 0 0 0 0.2rem #dee2e6;
	}
}
label {
	font-weight: bold;
	font-size: 80%;
	margin-bottom: 0;
}

.bootstrap-select {
	.btn-form {
		background-color: #fafafa !important;
		border: 1px solid #ced4da !important;

		&:focus, &:active {
			background-color: #fff !important;
			border-color: #adb5bd !important;
			box-shadow: 0 0 0 0.2rem #dee2e6 !important;
		}
	}

	&.disabled, & > .disabled {
		background-color: #e9ecef !important;
		opacity: 1;
	}
}

.bootstrap-select .dropdown-toggle:focus {
	outline: none !important;
}

.show > .btn-form.dropdown-toggle {
	background-color: #fff !important;
	border-color: #adb5bd !important;
	box-shadow: 0 0 0 0.2rem #dee2e6 !important;
}

header {
	.dropdown {
		.btn {
			color: rgba(255, 255, 255, 0.5);

			&:hover, &:focus {
				color: rgba(255, 255, 255, 0.75);
			}

			&:focus {
				box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.15);
			}
		}
	}
}

.validation-summary-errors {
	ul {
		list-style: none;
		padding: 0;

		li:before {
			font-family: "Font Awesome 5 Free";
			font-weight: 900;
			content: '\f06a';
			padding-right: 10px;
		}
	}
}
