table {
    border-collapse: collapse;
    border-radius: 1em;
    overflow: hidden;
    box-shadow: 2px 2px 5px 0px #adb5bd;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}


a {
  color: #0366d6;
}


.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
  text-align: center;
}

/*----------------------*/
.card-deck .card {
    min-width: 220px;
}



/* Navbar */

.navbar {
    box-shadow: 0px 0px 5px 0px #adb5bd;
}

.navbar-nav .nav-item:hover {
    background-color: #e9ecef;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.footer {
    box-shadow: 0 0 5px #adb5bd;
}


/* INDEX */

.btn:hover{
    transform: scale(1.1);
}

.col-category{
    display: flex;
}

.col-category .card{
    width: 100%;
}

.category-body {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.category-body a {
    width: 40%;
    border-radius: 20px;
    margin: 5%;
    color: #000;
    background-color: #fff;
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,.9);
    transition: all .3s ease-in-out;
}
.category-body .card-body{
    text-align: center;
}

.category-body a:hover {
    transform: scale(1.1);
    text-decoration: none;
    background-color: #343a40;
    color: white;
}


/* LOGOUT FORM */
.logout-form {
    position: absolute;
    right: 1%;
    height: 80%;
    box-shadow: 0 0 5px 0px #adb5bd;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    transition: all .3s ease-in-out;
}

.logout-form:hover{
    transform: scale(1.1);
    background-color: #adb5bd;
}
.logout-form:hover > button {
    color: #fff;
}

.logout-form button{
    color: #000;
    height: 100%;
    width: 100%;
}



/* MEDIA */

@media screen and (max-width: 992px){

    ul.navbar-nav{
        text-align: right;
    }

    .logout-form {
        position: relative;
        width: 200px;
        margin: 30px 0 0 auto;
        right: 0;
    }
}


.button-col{
    display: flex;
}

.button-col .btn{
    margin: 2px;
}

.table .thead-light a {
    color: #495057;
}



/* FORM */

.form-control:focus {
    border-color: #adb5bd;
    box-shadow: 0 0 0 0.2rem #dee2e6;
}


.details-view {
    background-color: #e9ecef;
    border-radius: 10px;
    padding: 10px;
}
.details-view dt{
    border-radius: 0;
}
.details-view dt:first-child{
    border-top-left-radius: 10px;
    border-top-right-radius: 0;
}
.details-view .dd-list:first-of-type{
    border-top-left-radius: 0;
    border-top-right-radius: 10px;
}
.details-view dt:last-of-type{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 0;
}
.details-view .dd-list:last-of-type{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 10px;
}




.validation-summary-errors ul{
    list-style:none;
    padding:0;
}

.validation-summary-errors ul li:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: '\f06a';
    padding-right: 10px;
}


/* ADMIN PANEL */

.button-add{
    width: 100%;
}

.roles-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.roles-list .card{
    width: 31%;
    margin: 1%;
}

.button-admin, .button-admin-users {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.button-admin .btn{
    margin: 1%;
    background-color: #dee2e6;
    border-color: #dee2e6;
}
.button-admin .btn:hover{
    background-color: #adb5bd;
    border-color: #adb5bd;
    transform: scale(1.1);
}
.button-admin-users .btn{
    margin-bottom:1%;
    margin-top: 1%;
}

input[type=checkbox]{
    width: 20px;
    height: 20px;
}
.form-edit-role label{
    margin-left:10px;
}


