<div class="alert alert-primary">
    <h5>Dziękujemy za aktywację konta</h5>
    <p>Możesz swobodnie korzystać z aplikacji</p>
    <a asp-controller="Account" asp-action="Login" class="btn btn-outline-primary">Przejdź do logowania</a>
</div>
