@model ForgotPasswordViewModel

<div class="card border-dark mb-3">
    <div class="card-header">
        <h4>Wprowadź email na który ma zostać wysłane hasło</h4>
    </div>
    <div class="card-body text-dark">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Wyślij</button>
        </form>
    </div>
</div>