@{
    ViewBag.Title = "Zmiana hasła";
}
<div class="alert alert-primary m-auto text-center">
    <h5>Email z instrukcjami zresetowania hasła został wysłany!</h5>
    <p>Aby odblokować konto postępuj zgodnie z instrukcjami</p>
</div>
