@model ForgotPasswordViewModel

<div class="card m-auto bg-transparent shadow">
    <div class="card-body text-dark">
        <img src="~/images/logo3.png" class="mw-100 mh-100 m-auto d-block" alt="">
        <h3 class="text-center font-weight-bold my-4">Wprowadź email na który ma zostać wysłane hasło</h3>
            <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <small><label asp-for="Email"></label></small>
                    <input asp-for="Email" placeholder="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary px-5 m-auto d-block">Wyślij</button>
            </form>
</div>
</div>