@model LoginViewModel

@{
    ViewBag.Title = "User Login";
}

<div class="row">
        <div class="col-md-8">
            <div class="card-login mt-4">
            <form method="post" class="form-signin">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="text-center">
                    <img src="~/images/PepeLogo.png" style=" width: 70%" alt="">
                    <h1 class="h3 mb-3 font-weight-normal">Logowanie</h1>
                </div>
                <div class="form-group">
                    <label asp-for="Login" class="sr-only">Login</label>
                    <input asp-for="Login" id="inputEmail" class="form-control" placeholder="Login" required autofocus>
                    <span asp-validation-for="Login" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="sr-only">Hasło</label>
                    <input asp-for="Password" id="inputPassword" class="form-control" placeholder="Hasło" required>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox mb-3 ml-4">
                            <input asp-for="RememberMe" type="checkbox" class="form-check-input" />
                    <label asp-for="RememberMe" class="form-check-label ml-2"></label>
                    </div>
                </div>
                <button class="btn btn-lg btn-success btn-block" type="submit">Zaloguj</button>
            </form>
            </div>
        </div>
        
        <div class="col-md-4 col-register">
            <div class="card-register">
                <img src="~/images/pepe.png" width="35%"/>
                <h4 class="w-100 text-center">Nie masz konta ?</h4>
                <a asp-controller="Account" asp-action="Register" class="btn btn-outline-info">Zarejestruj się</a>
            </div>
        </div>
</div>
