@{
    ViewBag.Title = "Rejestracja udana!";
}
<div class="alert alert-primary m-auto text-center">
    <div class="alert alert-primary">
        <h4 class="alert-heading font-weight-bold">@ViewBag.Title</h4>
        <p>Aby móc korzystać z konta kliknij na link aktywacyjny przesłany na adres e-mail</p>
        <hr>
        <a asp-controller="Home" asp-action="Index" class="btn btn-outline-primary">Kontynuuj</a>
    </div>
</div>
