@{
    ViewData["Title"] = "AccessDenied";
}
<div class="text-center">

    <h1 class="text-danger">Zgubiłeś się?</h1>
    <img class="m-4" src="~/images/noaccessTravolta.gif" style="height:300px; width:300px" />
    <h4 class="text-danger">Nie masz uprawnień do przeglądania tej strony</h4>
    <a class="h5" asp-controller="home" asp-action="index">Wróć do strony głównej</a>

</div>
