@{
    ViewData["Title"] = "Odmowa dostępu";
}

    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading font-weight-bold">@ViewData["Title"]</h4>
        <p>Nie masz uprawnień do przeglądania tej strony.</p>
        <hr>
        <p><strong>Skontaktuj się z administratorem serwisu!</strong></p>
        <a class="btn btn-danger" asp-controller="home" asp-action="index">Wróć do strony głównej</a>
    </div>
