@model Admin_CreateRoleViewModel

@{
    ViewBag.Title = "Create New Role";
}

<div>
    <h2>Dodaj nową rolę</h2>
</div>
<hr />
<div class="mb-3">
        <a asp-action="ListOfRoles" class="btn btn-outline-dark btn-sm"><i class="fas fa-arrow-left mr-1"></i>Wróć do listy ról</a>
        <div asp-validation-summary="All" class="text-danger small font-weight-bold mt-3"></div>
        <form method="post">
            <div class="form-group row">
                <div class="col-md-6">
                    <label asp-for="RoleName"></label>
                    <input asp-for="RoleName" class="form-control" />
                    <span asp-validation-for="RoleName" class="text-danger small font-weight-bold"></span>
                </div>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-success btn-sm"><i class="fas fa-plus mr-1"></i>Dodaj</button>
            </div>
        </form>
</div>

